@import url(reset.css);

.asos1 {
    padding-top: 123px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 291px;
    font-size: 20px;
}

.block1 {
    margin-bottom: 24px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
}

.block2 {
    text-decoration: line-through;
    font-size: 20px;
    color: #273d46;
    padding: 13px 30px;
    background: url(../img/check\ icon.png) left center no-repeat;

}

.block3 {
    padding: 13px 30px;
    font-weight: bold;
    color: #273d46;
    background: url(../img/check\ icon.png) left center no-repeat;
}

.block4 {
    padding: 13px 30px;
    background: url(../img/check\ icon.png) left center no-repeat;
    font-style: italic;
    color: #273d46;
}

.block5 {
    padding: 13px 30px;
    background: url(../img/check\ icon.png) left center no-repeat;
    text-transform: uppercase;
    margin-bottom: 141px;
    color: #273d46;

}

.block6::first-line {
    color: #ff0000;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 56px;
}

.block7::first-letter {
    color: #ff0000;
    margin-top: 56px;

}

.block6,
.block7 {
    color: #000000;
}

.link {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 20px 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    word-spacing: 5px;
    letter-spacing: 2px;

}

.link1 {
    margin-left: 30px;
    background-color: #80b7b3;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 0px 40px #80b7b3;
    margin-bottom: 120px;
}


.link1:hover {
    background-color: #3a5856;
    border-radius: 50px;
    box-shadow: 0px 0px 40px #80b7b3;
}

.link1:active {
    background-color: #818181;
    border-radius: 50px;
    box-shadow: none;
}

.block2:hover {
    text-decoration: none;
    background: url(../img/check\ icon.png) left center no-repeat;
    padding: 13px 30px;
}

.block3:hover {
    font-weight: normal;
    color: red;
    background: url(../img/check\ icon.png) left center no-repeat;
    padding: 13px 30px;
}

.block4:hover {
    font-style: normal;
    background: url(../img/check\ icon.png) left center no-repeat;
    padding: 13px 30px;

}

.block5:hover {
    text-transform: none;
    background: url(../img/check\ icon.png) left center no-repeat;
    padding: 13px 30px;
    margin-bottom: 141px;
}